# Ignore Jupyter notebook checkpoints and python cache
.ipynb_checkpoints/
__pycache__/
models/__pycache__/
experiments/__pycache__/
data/__pycache__/
**/__pycache__/


# Ignore specific directories
data/images/
data/labels/

# Ignore all .zip files
*.zip
./experiments/gradients/jacobian_gradient_79.pt
./experiments/gradients/jacobian_gradient_41.pt
./experiments/gradients/jacobian_gradient_85.pt
./experiments/gradients/jacobian_gradient_93.pt
./experiments/gradients/jacobian_gradient_50.pt
./experiments/gradients/jacobian_gradient_59.pt
./experiments/gradients/jacobian_gradient_62.pt
./experiments/gradients/jacobian_gradient_4.pt
./experiments/gradients/jacobian_gradient_76.pt
./experiments/gradients/jacobian_gradient_87.pt
./experiments/gradients/jacobian_gradient_55.pt
./experiments/gradients/jacobian_gradient_33.pt
./experiments/gradients/jacobian_gradient_13.pt
./experiments/gradients/jacobian_gradient_25.pt
./experiments/gradients/jacobian_gradient_49.pt
./experiments/gradients/jacobian_gradient_12.pt
./experiments/gradients/jacobian_gradient_21.pt
./experiments/gradients/jacobian_gradient_70.pt
./experiments/gradients/jacobian_gradient_10.pt
./experiments/gradients/jacobian_gradient_99.pt
./experiments/gradients/jacobian_gradient_3.pt
./experiments/gradients/jacobian_gradient_77.pt
./experiments/gradients/jacobian_gradient_53.pt
./experiments/gradients/jacobian_gradient_17.pt
./experiments/gradients/jacobian_gradient_32.pt
./experiments/gradients/jacobian_gradient_16.pt
./experiments/gradients/jacobian_gradient_39.pt
./experiments/gradients/jacobian_gradient_56.pt
./experiments/gradients/jacobian_gradient_31.pt
./experiments/gradients/jacobian_gradient_27.pt
./experiments/gradients/jacobian_gradient_91.pt
./experiments/gradients/jacobian_gradient_78.pt
./experiments/gradients/jacobian_gradient_58.pt
./experiments/gradients/jacobian_gradient_7.pt
./experiments/gradients/jacobian_gradient_18.pt
./experiments/gradients/jacobian_gradient_2.pt
./experiments/gradients/jacobian_gradient_1.pt
./experiments/gradients/jacobian_gradient_34.pt
./experiments/gradients/jacobian_gradient_54.pt
./experiments/gradients/jacobian_gradient_63.pt
./experiments/gradients/jacobian_gradient_48.pt
./experiments/gradients/jacobian_gradient_72.pt
./experiments/gradients/jacobian_gradient_80.pt
./experiments/gradients/jacobian_gradient_0.pt
./experiments/gradients/jacobian_gradient_82.pt
./experiments/gradients/jacobian_gradient_15.pt
./experiments/gradients/jacobian_gradient_88.pt
./experiments/gradients/jacobian_gradient_74.pt
./experiments/gradients/jacobian_gradient_8.pt
./experiments/gradients/jacobian_gradient_29.pt
./experiments/gradients/jacobian_gradient_24.pt
./experiments/gradients/jacobian_gradient_5.pt
./experiments/gradients/jacobian_gradient_57.pt
./experiments/gradients/jacobian_gradient_38.pt
./experiments/gradients/jacobian_gradient_19.pt
./experiments/gradients/jacobian_gradient_51.pt
./experiments/gradients/jacobian_gradient_42.pt
./experiments/gradients/jacobian_gradient_94.pt
./experiments/gradients/jacobian_gradient_45.pt
./experiments/gradients/jacobian_gradient_44.pt
./experiments/gradients/jacobian_gradient_46.pt
./experiments/gradients/jacobian_gradient_67.pt
./experiments/gradients/jacobian_gradient_52.pt
./experiments/gradients/jacobian_gradient_28.pt
./experiments/gradients/jacobian_gradient_26.pt
./experiments/gradients/jacobian_gradient_61.pt
./experiments/gradients/jacobian_gradient_83.pt
./experiments/gradients/jacobian_gradient_66.pt
./experiments/gradients/jacobian_gradient_60.pt
./experiments/gradients/jacobian_gradient_95.pt
./experiments/gradients/jacobian_gradient_37.pt
./experiments/gradients/jacobian_gradient_98.pt
./experiments/gradients/jacobian_gradient_6.pt
./experiments/gradients/jacobian_gradient_20.pt
./experiments/gradients/jacobian_gradient_84.pt
./experiments/gradients/jacobian_gradient_81.pt
./experiments/gradients/jacobian_gradient_11.pt
./experiments/gradients/jacobian_gradient_43.pt
./experiments/gradients/jacobian_gradient_9.pt
./experiments/gradients/jacobian_gradient_71.pt
./experiments/gradients/jacobian_gradient_73.pt
./experiments/gradients/jacobian_gradient_92.pt
./experiments/gradients/jacobian_gradient_96.pt
./experiments/gradients/jacobian_gradient0.pt
./experiments/gradients/jacobian_gradient_35.pt
./experiments/gradients/jacobian_gradient_75.pt
./experiments/gradients/jacobian_gradient_23.pt
./experiments/gradients/jacobian_gradient_36.pt
./experiments/gradients/jacobian_gradient_47.pt
./experiments/gradients/jacobian_gradient_89.pt
./experiments/gradients/jacobian_gradient_90.pt
./experiments/gradients/jacobian_gradient_69.pt
./experiments/gradients/jacobian_gradient_40.pt
./experiments/gradients/jacobian_gradient_68.pt
./experiments/gradients/jacobian_gradient_64.pt
./experiments/gradients/jacobian_gradient_22.pt
./experiments/gradients/jacobian_gradient_30.pt
./experiments/gradients/jacobian_gradient_86.pt
./experiments/gradients/jacobian_gradient_65.pt
./experiments/gradients/jacobian_gradient_97.pt
./experiments/gradients/jacobian_gradient_14.pt
./experiments/gradients_augmented_vessels/jacobian_gradient_4.pt
./experiments/gradients_augmented_vessels/jacobian_gradient_10.pt
./experiments/gradients_augmented_vessels/jacobian_gradient_3.pt
./experiments/gradients_augmented_vessels/jacobian_gradient_09.pt
./experiments/gradients_augmented_vessels/jacobian_gradient_7.pt
./experiments/gradients_augmented_vessels/jacobian_gradient_2.pt
./experiments/gradients_augmented_vessels/jacobian_gradient_1.pt
./experiments/gradients_augmented_vessels/jacobian_gradient_0.pt
./experiments/gradients_augmented_vessels/jacobian_gradient_8.pt
./experiments/gradients_augmented_vessels/jacobian_gradient_5.pt
./experiments/gradients_augmented_vessels/jacobian_gradient_6.pt
./experiments/extract_gradients/.git/objects/d8/b801de971b83e6d680ee5bd521cd087f5652d0
./experiments/extract_gradients/.git/objects/68/6a703ee17aae480b69f51e391c7551f07fe361
./experiments/extract_gradients/model_weights.pth
./experiments/extract_gradients/GradientsCalculation.zip
./experiments/torchseg_gradients/baseline_vessels_trained_model/jacobian_gradient_4.pt
./experiments/torchseg_gradients/baseline_vessels_trained_model/jacobian_gradient_10.pt
./experiments/torchseg_gradients/baseline_vessels_trained_model/jacobian_gradient_3.pt
./experiments/torchseg_gradients/baseline_vessels_trained_model/jacobian_gradient_7.pt
./experiments/torchseg_gradients/baseline_vessels_trained_model/jacobian_gradient_2.pt
./experiments/torchseg_gradients/baseline_vessels_trained_model/jacobian_gradient_1.pt
./experiments/torchseg_gradients/baseline_vessels_trained_model/jacobian_gradient_0.pt
./experiments/torchseg_gradients/baseline_vessels_trained_model/jacobian_gradient_8.pt
./experiments/torchseg_gradients/baseline_vessels_trained_model/jacobian_gradient_5.pt
./experiments/torchseg_gradients/baseline_vessels_trained_model/jacobian_gradient_6.pt
./experiments/torchseg_gradients/baseline_vessels_trained_model/jacobian_gradient_9.pt
./experiments/torchseg_gradients/non_trained_model/jacobian_gradient_4.pt
./experiments/torchseg_gradients/non_trained_model/jacobian_gradient_10.pt
./experiments/torchseg_gradients/non_trained_model/jacobian_gradient_3.pt
./experiments/torchseg_gradients/non_trained_model/jacobian_gradient_7.pt
./experiments/torchseg_gradients/non_trained_model/jacobian_gradient_2.pt
./experiments/torchseg_gradients/non_trained_model/jacobian_gradient_1.pt
./experiments/torchseg_gradients/non_trained_model/jacobian_gradient_0.pt
./experiments/torchseg_gradients/non_trained_model/jacobian_gradient_8.pt
./experiments/torchseg_gradients/non_trained_model/jacobian_gradient_5.pt
./experiments/torchseg_gradients/non_trained_model/jacobian_gradient_6.pt
./experiments/torchseg_gradients/non_trained_model/jacobian_gradient_9.pt
./experiments/torchseg_gradients/pre_trained_model/jacobian_gradient_4.pt
./experiments/torchseg_gradients/pre_trained_model/jacobian_gradient_10.pt
./experiments/torchseg_gradients/pre_trained_model/jacobian_gradient_3.pt
./experiments/torchseg_gradients/pre_trained_model/jacobian_gradient_7.pt
./experiments/torchseg_gradients/pre_trained_model/jacobian_gradient_2.pt
./experiments/torchseg_gradients/pre_trained_model/jacobian_gradient_1.pt
./experiments/torchseg_gradients/pre_trained_model/jacobian_gradient_0.pt
./experiments/torchseg_gradients/pre_trained_model/jacobian_gradient_8.pt
./experiments/torchseg_gradients/pre_trained_model/jacobian_gradient_5.pt
./experiments/torchseg_gradients/pre_trained_model/jacobian_gradient_6.pt
./experiments/torchseg_gradients/pre_trained_model/jacobian_gradient_9.pt
./experiments/torchseg_gradients/jacobian_gradient_0.pt
./experiments/torchseg_gradients/augmented_vessels_trained_model/jacobian_gradient_4.pt
./experiments/torchseg_gradients/augmented_vessels_trained_model/jacobian_gradient_10.pt
./experiments/torchseg_gradients/augmented_vessels_trained_model/jacobian_gradient_3.pt
./experiments/torchseg_gradients/augmented_vessels_trained_model/jacobian_gradient_7.pt
./experiments/torchseg_gradients/augmented_vessels_trained_model/jacobian_gradient_2.pt
./experiments/torchseg_gradients/augmented_vessels_trained_model/jacobian_gradient_1.pt
./experiments/torchseg_gradients/augmented_vessels_trained_model/jacobian_gradient_0.pt
./experiments/torchseg_gradients/augmented_vessels_trained_model/jacobian_gradient_8.pt
./experiments/torchseg_gradients/augmented_vessels_trained_model/jacobian_gradient_5.pt
./experiments/torchseg_gradients/augmented_vessels_trained_model/jacobian_gradient_6.pt
./experiments/torchseg_gradients/augmented_vessels_trained_model/jacobian_gradient_9.pt
./.git/objects/83/354db6d5318e1cd13422d1a8a120dd6d7abbf7
./.git/objects/54/9a644a20936c923b21b7086a0a94e5874359e8
./.git/objects/pack/pack-fe00dd76e55e40cab1d8158d57d72b010acf6287.pack
./.git/objects/dc/403cc2a316135749815c0ef8443ef2cd718355
./.git/objects/76/4b50a06443ea2c3b6618ad5abaf02ad676b61f
./data/maximum_projection.zip
./data/gradients/gradient_data_vess_map_regularized_l2_200.json
./data/gradients/gradient_data_vess_map_regularized_none_200.json
./data/gradients/gradient_data_vess_map_regularized_l1_200.json
./data/gradients/gradient_data.json
./models/custom_cnn_vessel_regularized_l2.pth
./models/vess_map_regularized_l2_200.pth
./models/vess_map_regularized_l1_200.pth
./models/custom_cnn_vessel_regularized_l1.pth
./models/custom_cnn_vessel_regularized_l2_50.pth
./models/torchsegpre_trained_unet_resnet_model_epoch_250_trainIoU_0.77_testIoU0.82_.pt
./models/torchseg/unet_resnet.pt
./models/torchseg/pretrained_unet_resnet.pt
./models/torchsegunet_resnet_model_epoch_250_trainIoU_0.83_testIoU0.79_.pt
./models/vess_map_regularized_none_200.pth
./models/torchsegunet_resnet_model_epoch_250_trainIoU_0.84_testIoU0.82_.pt
./models/custom_cnn_vessel.pth
data/maximum_projection.zip
data/gradients/gradient_data_vess_map_regularized_l2_200.json
data/gradients/gradient_data_vess_map_regularized_none_200.json
data/gradients/gradient_data_vess_map_regularized_l1_200.json
data/gradients/gradient_data.json
experiments/gradients/jacobian_gradient_79.pt
experiments/gradients/jacobian_gradient_41.pt
experiments/gradients/jacobian_gradient_85.pt
experiments/gradients/jacobian_gradient_93.pt
experiments/gradients/jacobian_gradient_50.pt
experiments/gradients/jacobian_gradient_59.pt
experiments/gradients/jacobian_gradient_62.pt
experiments/gradients/jacobian_gradient_4.pt
experiments/gradients/jacobian_gradient_76.pt
experiments/gradients/jacobian_gradient_87.pt
experiments/gradients/jacobian_gradient_55.pt
experiments/gradients/jacobian_gradient_33.pt
experiments/gradients/jacobian_gradient_13.pt
experiments/gradients/jacobian_gradient_25.pt
experiments/gradients/jacobian_gradient_49.pt
experiments/gradients/jacobian_gradient_12.pt
experiments/gradients/jacobian_gradient_21.pt
experiments/gradients/jacobian_gradient_70.pt
experiments/gradients/jacobian_gradient_10.pt
experiments/gradients/jacobian_gradient_99.pt
experiments/gradients/jacobian_gradient_3.pt
experiments/gradients/jacobian_gradient_77.pt
experiments/gradients/jacobian_gradient_53.pt
experiments/gradients/jacobian_gradient_17.pt
experiments/gradients/jacobian_gradient_32.pt
experiments/gradients/jacobian_gradient_16.pt
experiments/gradients/jacobian_gradient_39.pt
experiments/gradients/jacobian_gradient_56.pt
experiments/gradients/jacobian_gradient_31.pt
experiments/gradients/jacobian_gradient_27.pt
experiments/gradients/jacobian_gradient_91.pt
experiments/gradients/jacobian_gradient_78.pt
experiments/gradients/jacobian_gradient_58.pt
experiments/gradients/jacobian_gradient_7.pt
experiments/gradients/jacobian_gradient_18.pt
experiments/gradients/jacobian_gradient_2.pt
experiments/gradients/jacobian_gradient_1.pt
experiments/gradients/jacobian_gradient_34.pt
experiments/gradients/jacobian_gradient_54.pt
experiments/gradients/jacobian_gradient_63.pt
experiments/gradients/jacobian_gradient_48.pt
experiments/gradients/jacobian_gradient_72.pt
experiments/gradients/jacobian_gradient_80.pt
experiments/gradients/jacobian_gradient_0.pt
experiments/gradients/jacobian_gradient_82.pt
experiments/gradients/jacobian_gradient_15.pt
experiments/gradients/jacobian_gradient_88.pt
experiments/gradients/jacobian_gradient_74.pt
experiments/gradients/jacobian_gradient_8.pt
experiments/gradients/jacobian_gradient_29.pt
experiments/gradients/jacobian_gradient_24.pt
experiments/gradients/jacobian_gradient_5.pt
experiments/gradients/jacobian_gradient_57.pt
experiments/gradients/jacobian_gradient_38.pt
experiments/gradients/jacobian_gradient_19.pt
experiments/gradients/jacobian_gradient_51.pt
experiments/gradients/jacobian_gradient_42.pt
experiments/gradients/jacobian_gradient_94.pt
experiments/gradients/jacobian_gradient_45.pt
experiments/gradients/jacobian_gradient_44.pt
experiments/gradients/jacobian_gradient_46.pt
experiments/gradients/jacobian_gradient_67.pt
experiments/gradients/jacobian_gradient_52.pt
experiments/gradients/jacobian_gradient_28.pt
experiments/gradients/jacobian_gradient_26.pt
experiments/gradients/jacobian_gradient_61.pt
experiments/gradients/jacobian_gradient_83.pt
experiments/gradients/jacobian_gradient_66.pt
experiments/gradients/jacobian_gradient_60.pt
experiments/gradients/jacobian_gradient_95.pt
experiments/gradients/jacobian_gradient_37.pt
experiments/gradients/jacobian_gradient_98.pt
experiments/gradients/jacobian_gradient_6.pt
experiments/gradients/jacobian_gradient_20.pt
experiments/gradients/jacobian_gradient_84.pt
experiments/gradients/jacobian_gradient_81.pt
experiments/gradients/jacobian_gradient_11.pt
experiments/gradients/jacobian_gradient_43.pt
experiments/gradients/jacobian_gradient_9.pt
experiments/gradients/jacobian_gradient_71.pt
experiments/gradients/jacobian_gradient_73.pt
experiments/gradients/jacobian_gradient_92.pt
experiments/gradients/jacobian_gradient_96.pt
experiments/gradients/jacobian_gradient0.pt
experiments/gradients/jacobian_gradient_35.pt
experiments/gradients/jacobian_gradient_75.pt
experiments/gradients/jacobian_gradient_23.pt
experiments/gradients/jacobian_gradient_36.pt
experiments/gradients/jacobian_gradient_47.pt
experiments/gradients/jacobian_gradient_89.pt
experiments/gradients/jacobian_gradient_90.pt
experiments/gradients/jacobian_gradient_69.pt
experiments/gradients/jacobian_gradient_40.pt
experiments/gradients/jacobian_gradient_68.pt
experiments/gradients/jacobian_gradient_64.pt
experiments/gradients/jacobian_gradient_22.pt
experiments/gradients/jacobian_gradient_30.pt
experiments/gradients/jacobian_gradient_86.pt
experiments/gradients/jacobian_gradient_65.pt
experiments/gradients/jacobian_gradient_97.pt
experiments/gradients/jacobian_gradient_14.pt
experiments/gradients_augmented_vessels/jacobian_gradient_4.pt
experiments/gradients_augmented_vessels/jacobian_gradient_10.pt
experiments/gradients_augmented_vessels/jacobian_gradient_3.pt
experiments/gradients_augmented_vessels/jacobian_gradient_09.pt
experiments/gradients_augmented_vessels/jacobian_gradient_7.pt
experiments/gradients_augmented_vessels/jacobian_gradient_2.pt
experiments/gradients_augmented_vessels/jacobian_gradient_1.pt
experiments/gradients_augmented_vessels/jacobian_gradient_0.pt
experiments/gradients_augmented_vessels/jacobian_gradient_8.pt
experiments/gradients_augmented_vessels/jacobian_gradient_5.pt
experiments/gradients_augmented_vessels/jacobian_gradient_6.pt
experiments/extract_gradients/.git/objects/d8/b801de971b83e6d680ee5bd521cd087f5652d0
experiments/extract_gradients/.git/objects/68/6a703ee17aae480b69f51e391c7551f07fe361
experiments/extract_gradients/model_weights.pth
experiments/extract_gradients/GradientsCalculation.zip
experiments/torchseg_gradients/baseline_vessels_trained_model/jacobian_gradient_4.pt
experiments/torchseg_gradients/baseline_vessels_trained_model/jacobian_gradient_10.pt
experiments/torchseg_gradients/baseline_vessels_trained_model/jacobian_gradient_3.pt
experiments/torchseg_gradients/baseline_vessels_trained_model/jacobian_gradient_7.pt
experiments/torchseg_gradients/baseline_vessels_trained_model/jacobian_gradient_2.pt
experiments/torchseg_gradients/baseline_vessels_trained_model/jacobian_gradient_1.pt
experiments/torchseg_gradients/baseline_vessels_trained_model/jacobian_gradient_0.pt
experiments/torchseg_gradients/baseline_vessels_trained_model/jacobian_gradient_8.pt
experiments/torchseg_gradients/baseline_vessels_trained_model/jacobian_gradient_5.pt
experiments/torchseg_gradients/baseline_vessels_trained_model/jacobian_gradient_6.pt
experiments/torchseg_gradients/baseline_vessels_trained_model/jacobian_gradient_9.pt
experiments/torchseg_gradients/non_trained_model/jacobian_gradient_4.pt
experiments/torchseg_gradients/non_trained_model/jacobian_gradient_10.pt
experiments/torchseg_gradients/non_trained_model/jacobian_gradient_3.pt
experiments/torchseg_gradients/non_trained_model/jacobian_gradient_7.pt
experiments/torchseg_gradients/non_trained_model/jacobian_gradient_2.pt
experiments/torchseg_gradients/non_trained_model/jacobian_gradient_1.pt
experiments/torchseg_gradients/non_trained_model/jacobian_gradient_0.pt
experiments/torchseg_gradients/non_trained_model/jacobian_gradient_8.pt
experiments/torchseg_gradients/non_trained_model/jacobian_gradient_5.pt
experiments/torchseg_gradients/non_trained_model/jacobian_gradient_6.pt
experiments/torchseg_gradients/non_trained_model/jacobian_gradient_9.pt
experiments/torchseg_gradients/pre_trained_model/jacobian_gradient_4.pt
experiments/torchseg_gradients/pre_trained_model/jacobian_gradient_10.pt
experiments/torchseg_gradients/pre_trained_model/jacobian_gradient_3.pt
experiments/torchseg_gradients/pre_trained_model/jacobian_gradient_7.pt
experiments/torchseg_gradients/pre_trained_model/jacobian_gradient_2.pt
experiments/torchseg_gradients/pre_trained_model/jacobian_gradient_1.pt
experiments/torchseg_gradients/pre_trained_model/jacobian_gradient_0.pt
experiments/torchseg_gradients/pre_trained_model/jacobian_gradient_8.pt
experiments/torchseg_gradients/pre_trained_model/jacobian_gradient_5.pt
experiments/torchseg_gradients/pre_trained_model/jacobian_gradient_6.pt
experiments/torchseg_gradients/pre_trained_model/jacobian_gradient_9.pt
experiments/torchseg_gradients/jacobian_gradient_0.pt
experiments/torchseg_gradients/augmented_vessels_trained_model/jacobian_gradient_4.pt
experiments/torchseg_gradients/augmented_vessels_trained_model/jacobian_gradient_10.pt
experiments/torchseg_gradients/augmented_vessels_trained_model/jacobian_gradient_3.pt
experiments/torchseg_gradients/augmented_vessels_trained_model/jacobian_gradient_7.pt
experiments/torchseg_gradients/augmented_vessels_trained_model/jacobian_gradient_2.pt
experiments/torchseg_gradients/augmented_vessels_trained_model/jacobian_gradient_1.pt
experiments/torchseg_gradients/augmented_vessels_trained_model/jacobian_gradient_0.pt
experiments/torchseg_gradients/augmented_vessels_trained_model/jacobian_gradient_8.pt
experiments/torchseg_gradients/augmented_vessels_trained_model/jacobian_gradient_5.pt
experiments/torchseg_gradients/augmented_vessels_trained_model/jacobian_gradient_6.pt
experiments/torchseg_gradients/augmented_vessels_trained_model/jacobian_gradient_9.pt
models/custom_cnn_vessel_regularized_l2.pth
models/vess_map_regularized_l2_200.pth
models/vess_map_regularized_l1_200.pth
models/custom_cnn_vessel_regularized_l1.pth
models/custom_cnn_vessel_regularized_l2_50.pth
models/torchsegpre_trained_unet_resnet_model_epoch_250_trainIoU_0.77_testIoU0.82_.pt
models/torchseg/unet_resnet.pt
models/torchseg/pretrained_unet_resnet.pt
models/torchsegunet_resnet_model_epoch_250_trainIoU_0.83_testIoU0.79_.pt
models/vess_map_regularized_none_200.pth
models/torchsegunet_resnet_model_epoch_250_trainIoU_0.84_testIoU0.82_.pt
models/custom_cnn_vessel.pth
