# Ignore Jupyter notebook checkpoints and python cache
.ipynb_checkpoints/
__pycache__/
models/__pycache__/
experiments/__pycache__/
data/__pycache__/
**/__pycache__/


# Ignore specific directories
data/images/
data/labels/

# Ignore all .zip files
*.zip
